$Marineblue: hsl(213, 96%, 18%);
$Purplishblue: hsl(243, 100%, 62%);
$Pastelblue: hsl(228, 100%, 84%);
$Lightblue: hsl(206, 94%, 87%);
$Strawberryred: hsl(354, 84%, 57%);
$Lightgray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

div.btn-container {
  button.disabled {
    background-color: hsla(213, 86%, 20%, 0.579);
    color: red;
  }
  button.enabled {
    background-color: $Marineblue;
  }
}

body {
  background-color: $Lightgray;
  min-height: 100vh;
}
main {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100%;
}
main div.form__container {
  display: flex;
  background-color: $White;
  // background-color: red;
  border-radius: 10px;
  padding: 1rem;
  div.form__sidebar {
    position: relative;
    width: min-content;
    img.desktop__image {
      display: block;
    }
    img.mobile__image {
      display: none;
    }
    ul.form__steps {
      padding: 2rem 2rem;
      position: absolute;
      top: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      li.form__step {
        display: flex;
        align-items: center;
        gap: 1rem;
        > h4 {
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          //   background-color: $Lightblue;
          border: 1.5px solid $Lightblue;
          color: $White;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
        }
        div {
          font-weight: 400;
          color: $Pastelblue;
          h4 {
            color: $White;
            font-weight: 500;
          }
        }
      }
    }
  }
  div.form__right {
    height: 100%;
    width: 100%;
    padding: 1rem 6rem;
    div.btn-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      button {
        padding: 0.8rem 1.5rem;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 500;
        border: none;
        color: $White;
        transition: all 0.1s;
      }
    }
    section {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      // background-color: red;
      h1 {
        color: $Marineblue;
      }
      p {
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.45);
      }
      div.input__fields__wrapper {
        margin-bottom: 3rem;
        div.input__label__wrapper {
          display: flex;
          margin: 1.5rem 0;
          flex-direction: column;
          div.label__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 0;
            color: $Marineblue;
            span {
              color: red;
            }
          }
          input {
            padding: 0.8rem;
            border-radius: 6px;
            font-weight: 500;
            border: 1px solid rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
    section.step__2 {
      div.section__middle {
        // background-color: yellow;
        display: flex;
        flex-direction: column;
        div.section__billing__cards {
          display: grid;
          grid-template-columns: repeat(3, 8rem);
          grid-column-gap: 1rem;
          grid-row-gap: 0px;
          margin-top: 3rem;
          div.billing__card {
            // width: 8rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            border: 1.5px solid rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            gap: 3rem;
            > div {
              color: $Marineblue;
              line-height: 0.5rem;
            }
          }
          :nth-child(1) {
            grid-area: 1 / 1 / 2 / 2;
          }
          :nth-child(2) {
            grid-area: 1 / 2 / 2 / 3;
          }
          :nth-child(3) {
            grid-area: 1 / 3 / 2 / 4;
          }
          :nth-child(4) {
            grid-area: 2 / 1 / 3 / 4;
          }
        }
      }
      div.section__switch {
        display: flex;
        margin-top: 4rem;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
    }
  }
}

// Switch Styles
.switch {
  display: inline-block;
  input {
    display: none;
  }

  label {
    display: block;
    width: 60px;
    height: 30px;
    padding: 3px;
    border-radius: 15px;
    // border: 2px solid black;
    background-color: $Marineblue;
    cursor: pointer;
    transition: 0.3s;
  }

  label::after {
    content: "";
    display: inherit;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    background: $White;
    transition: 0.3s;
    transform: translateX(1.5px) translateY(1.5px);
  }

  input:checked ~ label {
    border-color: $Marineblue;
  }

  input:checked ~ label::after {
    translate: 30px 0;
    background: $White;
  }

  .switch input:disabled ~ label {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@media screen and (max-width: 780px) {
  main {
    height: 100%;
  }

  div.btn-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $White;
    width: 100vw;
    padding: 1rem;
  }

  body > main > div.form__container {
    background-color: $Magnolia;
    min-height: 100vh;
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    > div.form__left.form__sidebar {
      img.desktop__image {
        display: none;
      }
      img.mobile__image {
        display: block;
        object-fit: cover;
        width: 100vw;
      }
      > ul {
        width: 100%;
        justify-content: center;
        flex-direction: row;
        li {
          > div {
            display: none;
          }
        }
      }
    }
    div.form__right {
      position: relative;
      // background-color: cyan;
      div.section__main__wrapper {
        position: fixed;
        // background-color: red;
        width: 100vw;
        // padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 7rem;
        > div {
          background-color: white;
          // margin: 1rem;
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
          width: 90vw;
          border-radius: 10px;
          padding: 1.5rem;
        }
      }
      section.step__2 {
        // background-color: red;
        div.section__middle {
          div.section__billing__cards {
            margin-top: 1rem;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            div.section__switch span.switch {
              label {
                width: 40px;
                height: 20px;
                &::after {
                  content: "";
                  display: inherit;
                  width: 12px;
                  height: 12px;
                  border-radius: 12px;
                  background: hsl(0, 0%, 100%);
                  transition: 0.3s;
                  transform: translateX(1px) translateY(1px);
                }
              }
              input:checked ~ label::after {
                translate: 19px 0;
                background: $White;
              }
            }
            div.billing__card {
              flex-direction: row;
              gap: 1rem;
            }
            div.section__switch {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}
